<header class="site-header">
  <div class="instagram">
    <!-- www.intagme.com -->
    <!-- <iframe src="http://www.intagme.com/in/?u=eXl1ZWx8c2x8MTUwfDJ8M3x8eWVzfDV8dW5kZWZpbmVkfG5v" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:150px; height: 150px; border-radius: 50%" ></iframe> -->
    <img src="/images/light_by_liuyuel.jpg" alt="">
  </div>
  <div class="container">
    <nav>
      <a href="/" class="{% if page.url == '/' %} active{% endif %}"><div class="a-person"><span class="glyphicon glyphicon-user"></span></div></a>
      <a href="/archive" class="{% if page.url == '/archive/' %} active{% endif %}"><div class="a-page"><span class="glyphicon glyphicon-inbox"></span></div></a>
    </nav>
  </div>
</header>